* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body,
ul,
li,
a {
  text-decoration: none;
  list-style: none;
  text-transform: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
