.container__fluid {
  margin: 0 auto;
  width: 100%;
}

.content__header {
  width: 50%;
}
.header__banner {
  width: 50%;
}

.header__banner img {
  height: 600px;
  width: 100%;
}

.title__header {
  font-size: 60px;
  line-height: 1.3em;
  font-weight: 600;
  color: #202428;
}

.title__header span {
  color: #05b993;
}

.header__description {
  font-size: 16px;
  color: #51585f;
  margin: 20px 0;
}

.--color__btn-green {
  background-color: #05b993;
}
.--color__btn-roxo {
  background-color: #705ecf;
}

.btn {
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 400;
  transition: all 0.5s;
}

.btn:hover {
  opacity: 0.7;
}

.feature__title {
  color: #111;
  font-size: 40px;
}

.content__feature {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.feature__description {
  margin-top: 10px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #51585f;
  font-size: 16px;
  max-width: 800px;
  text-align: center;
}
